section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  width: 60%;
  &__header {
    background-color: rgb(70, 0, 71);
    color: #ffff;
  }
  &__content > td {
    background-color: pink;
    text-align: center;
    padding: 0.5rem 0;
  }
}

.input__name {
  width: 59%;
  margin-bottom: 0.2rem;
}

.input__sobrenome {
  width: 59%;
}

.btn__salvar {
  margin-top: 1rem;
  width: 59.6%;
  background-color: rgb(162, 68, 84);
  border: none;
  padding: 0.5rem 0;
  color: #ffff;
  cursor: pointer;
}
